@font-face {
  font-family: "iconfont"; /* Project id 2866620 */
  src: url('//at.alicdn.com/t/font_2866620_vgvd7jugam.woff2?t=1634447326083') format('woff2'),
       url('//at.alicdn.com/t/font_2866620_vgvd7jugam.woff?t=1634447326083') format('woff'),
       url('//at.alicdn.com/t/font_2866620_vgvd7jugam.ttf?t=1634447326083') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ziyuan:before {
  content: "\e617";
}

.icon-zuojiantou:before {
  content: "\e67c";
}

.icon-xiaoxi:before {
  content: "\e68c";
}

.icon-shezhi:before {
  content: "\e771";
}

.icon-youjiantou:before {
  content: "\e622";
}

.icon-gouxuan:before {
  content: "\e60f";
}

.icon-weigouxuan:before {
  content: "\e623";
}

.icon-shangpin:before {
  content: "\e602";
}

.icon-fenxiang:before {
  content: "\e600";
}

.icon-jiaxingshoucang:before {
  content: "\e651";
}

.icon-jiaxingshoucangtianchong:before {
  content: "\e683";
}

.icon-gerenzhongxindingdandaishouhuo:before {
  content: "\e60b";
}

.icon-gouwuche:before {
  content: "\e63f";
}

.icon-daifukuandingdan:before {
  content: "\e616";
}

.icon-quanbudingdan-01:before {
  content: "\e611";
}

.icon-tuikuan:before {
  content: "\e641";
}

.icon-kefu:before {
  content: "\e61b";
}

.icon-shouhuodizhi:before {
  content: "\e621";
}

